<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <h3 style="color: rgb(190, 118, 118);font-family:serif;margin: 1%;">JobTank</h3>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
        aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
  
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin1']">Admin Operations</a>
            <span class="visually-hidden">(current)</span>
          </li>
  
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/admin2']">Eligibility Section</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/home']">logout</a>
          </li>
          
  
  
  
  
        </ul>
  
      </div>
    </div>
  </nav>
