
<router-outlet></router-outlet>
<app-footer></app-footer>
<!-- <app-categorysearch></app-categorysearch> -->
<!-- <app-registrati?on></app-registration> -->
<!-- <app-profile></app-profile> -->
<!-- <app-adminpart2></app-adminpart2> -->
<!-- <app-adminpart1></app-adminpart1> -->