<!-- 
  <a href="https://front.codes/" class="logo" target="_blank">
  
  </a>
  
    <input class="menu-icon" type="checkbox" id="menu-icon" name="menu-icon"/>
    <label for="menu-icon"></label>
    <nav class="nav">     
      <ul class="pt-5">

          
<li class="nav-item">
            <a class="nav-link active" [routerLink]="['/profileUpdate']">Update Profile
              <span class="visually-hidden">(current)</span>
            </a>
          </li>



        
        <li><a  [routerLink]="['/showjobs']">Show Applied Jobs</a></li>
        <li><a routerLink="category">Show on the basis of categoru</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <body style= "background-color: #2F3242">
    <svg width="380px" height="500px" viewBox="0 0 837 1045" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
          <path d="M353,9 L626.664028,170 L626.664028,487 L353,642 L79.3359724,487 L79.3359724,170 L353,9 Z" id="Polygon-1" stroke="#007FB2" stroke-width="6" sketch:type="MSShapeGroup"></path>
          <path d="M78.5,529 L147,569.186414 L147,648.311216 L78.5,687 L10,648.311216 L10,569.186414 L78.5,529 Z" id="Polygon-2" stroke="#EF4A5B" stroke-width="6" sketch:type="MSShapeGroup"></path>
          <path d="M773,186 L827,217.538705 L827,279.636651 L773,310 L719,279.636651 L719,217.538705 L773,186 Z" id="Polygon-3" stroke="#795D9C" stroke-width="6" sketch:type="MSShapeGroup"></path>
          <path d="M639,529 L773,607.846761 L773,763.091627 L639,839 L505,763.091627 L505,607.846761 L639,529 Z" id="Polygon-4" stroke="#F2773F" stroke-width="6" sketch:type="MSShapeGroup"></path>
          <path d="M281,801 L383,861.025276 L383,979.21169 L281,1037 L179,979.21169 L179,861.025276 L281,801 Z" id="Polygon-5" stroke="#36B455" stroke-width="6" sketch:type="MSShapeGroup"></path>
      </g>
  </svg>
  <div class="message-box">
    <h1></h1>
   
    <div class="buttons-con">
      <div class="action-link-wrap">
        <a onclick="history.back(-1)"  class="btn btn-info btn-lg"><span class="glyphicon glyphicon-log-out"></span>Logout</a>
        <a href="" class="link-button">Go to Home Page</a>
      </div>
    </div>
  </div>
  </body> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <h3 style="color: rgb(190, 118, 118);font-family:serif;margin: 1%;">JobTank</h3>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
      aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/showjobs']">Current Opennings</a>
          <span class="visually-hidden">(current)</span>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/category']">Catogery Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/appliedjobs']">View Applied jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profileUpdate']">Profile update</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/founder']">Founders</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">logout</a>
        </li>



      </ul>

    </div>
  </div>
</nav>