<app-navbar></app-navbar>
    

<h3 style="color: rgb(190, 118, 118);font-family:serif;margin-top: 0.5%;" class="container">Current Openings</h3>
<div style="background-color: rgb(198, 215, 215)">
  <div class="container" style="width: max-content; height: max-content;">
    <table class="table table-striped table-bordered table-hover" style="width: 100%; height: max-content;">
      <div class="row">
        <div class="col">
          <form #loginForm="ngForm">
            <thead class="table-dark">
              <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Company-Name</th>
                <th>Location</th>
                <th>Role</th>
                <th>Submit</th>
              </tr>
            </thead>
            <tbody class="table-light" *ngFor='let j of job'>
              <tr>
                <th>{{j.id}}</th>
                <th>{{j.name}}</th>
                <th>{{j.company}}</th>
                <th>{{j.location}}</th>
                <th>{{j.role}}</th>
                <th><button type="button" class="btn btn-primary" routerLink="showjobs"
                    (click)="addToFavorite(j.id,j.company,j.role,j)">Apply</button></th>
              </tr>
            </tbody>
          </form>
        </div>
      </div>
    </table>
  </div>
</div>