<!-- <app-navbar></app-navbar>
<div class="image">
    <div class="row">
      <div class="col-md-6">
          <div class="card">
              <div class="text-center">
                  <h1 style="color: blue;">Update Profile</h1>
                  
              </div>
       <div class="container mt-3"> 
        <form #UpdateForm="ngForm">
          <small class="text-danger">{{disp_msg}}</small>
    
          
          
    
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label">User Name</label>
          <input type="text" minlength="3" name="username" class="form-control"  id="formGroupExampleInput"
          [(ngModel)]="user.userName" #username="ngModel" >
        </div>
        
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">Email</label>
          <input type="email" email="true" required name="email" class="form-control"  id="formGroupExampleInput2"
          [(ngModel)]="user.email" #email="ngModel">
        </div>
        
    
          <div class="mb-3">
            <label for="formGroupExampleInput2" class="form-label">Qualification</label>
            <input type="text" required name="qualification"  class="form-control" id="formGroupExampleInput2"
            [(ngModel)]="user.qualification" #qual="ngModel">
          </div>
    
          
    
          <button type="submit"  class="btn btn-primary" (click)="updateProfile()">Update</button>
    
        
      </form>
        </div>
        </div>
        </div>
      </div> -->
      <app-navbar></app-navbar>
      <div class="row" style="margin-top: 3%; margin-left: 30%;">
        <div class="col-md-6">
          <div class="card">
            <div class="text-center">
              <h3 style="font-family:serif;">Update Profile</h3>
              <hr>
            </div>
      
            <!-- <div class="container mt-3"> -->
            <form #UpdateForm="ngForm">
              <small class="text-danger">{{disp_msg}}</small>
              <div class="mb-3">
                <mat-icon>account_circle</mat-icon>
                <label for="formGroupExampleInput" class="form-label" style="margin-left: 2%"  >Username</label>
                <input type="text" minlength="3" name="username" class="form-control" id="formGroupExampleInput"
                  [(ngModel)]="user.userName" #username="ngModel">
              </div>
      
              <div class="mb-3">
                <mat-icon>email</mat-icon>
                <label for="formGroupExampleInput2" class="form-label" style="margin-left: 2%">Email</label>
                <input type="email" email="true" required name="email" class="form-control" id="formGroupExampleInput2"
                  [(ngModel)]="user.email" #email="ngModel">
              </div>
      
              <div class="mb-3">
                <mat-icon>school</mat-icon>
                <label for="formGroupExampleInput2" class="form-label" style="margin-left: 2%">Qualification</label>
                <input type="text" required name="qualification" class="form-control" id="formGroupExampleInput2"
                  [(ngModel)]="user.qualification" #qual="ngModel">
              </div>
      
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary btn-sm" (click)="updateProfile()" (click)="showToaster5()">Update</button>
              </div>
            </form>
      
          </div>
        </div>
      </div>
      <br><br>