<app-navbar></app-navbar>
 <div>
    <input type="text" id="category" name="CategoryName-" placeholder="enter the value" [(ngModel)]="name"
    />
    <button type="submit"  class="btn btn-primary" (click)="getByCategory()">Search</button>
</div>

<div class="container" *ngFor='let j of job'>
  <div class="card mt-3">
    <div class="card-body bg-secondary text-white">
    
      <p>JobId-{{j.id}}</p>
      <p>CategoryName-{{j.name}}</p>
      <p>Company Name-{{j.company}}</p>

      <p>Location-{{j.location}}</p>

      <p>Role-{{ j.role}}</p>
      <th><button type="button" class="btn btn-primary" routerLink="category"
        (click)="addToFavorite(j.id,j.company,j.role,j)">Apply</button></th>


    </div> 


    <!-- <div style="background-color: rgb(198, 215, 215)">
      <div class="container" style="width: max-content; height: max-content;">
        <table class="table table-striped table-bordered table-hover" style="width: 100%; height: max-content;">
          <div class="row">
            <div class="col">
              <form #loginForm="ngForm">
                <thead class="table-dark">
                  <tr>
                    <th>Id</th>
                    <th>Category</th>
                    <th>Company-Name</th>
                    <th>Location</th>
                    <th>Role</th>
                    <th>Submit</th>
                  </tr>
                </thead>
                <tbody class="table-light" *ngFor='let j of job'>
                  <tr>
                    <th>{{j.id}}</th>
                    <th>{{j.name}}</th>
                    <th>{{j.company}}</th>
                    <th>{{j.location}}</th>
                    <th>{{j.role}}</th>
                    <th><button type="button" class="btn btn-primary" routerLink="showjobs"
                        (click)="addToFavorite(j.id,j.company,j.role,j)">Apply</button></th>
                  </tr>
                </tbody>
              </form>
            </div>
          </div>
        </table>
      </div>
    </div> -->
