<!-- <div class="container col-md-6">
    <h1 style="color:black;">User Login</h1>
    <form #loginForm="ngForm" (ngSubmit)="userlogin(user.userName)" novalidate>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">UserName</label>
            <input type="text"  #userName="ngModel" [(ngModel)]="user.userName" class="form-control" id="userName" name="userName"
            ngModel required minlength="5" maxlength="15"
            [class.is-invalid]="userName.invalid && (userName.dirty || userName.touched)"
            [class.is-valid]="userName.valid && (userName.dirty || userName.touched)">
        <span class="invalid-feedback"
            *ngIf="(userName.touched || userName.dirty) && userName.errors?.['required']">
            Username is mandatory</span>
        <span class="invalid-feedback"
            *ngIf="(userName.touched || userName.dirty) && userName.errors?.['minlength']">
            Username should be atleast 5 characters</span>
        </div>


        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password"  #password="ngModel" [(ngModel)]="user.password" class="form-control" id="password" name="password"
            ngModel required minlength="7" maxlength="15"
            [class.is-invalid]="password.invalid && (password.dirty || password.touched)"
            [class.is-valid]="password.valid && (password.dirty || password.touched)">
        <span class="invalid-feedback"
            *ngIf="(password.touched || password.dirty) && password.errors?.['required']">
            Password is mandatory</span>
        <span class="invalid-feedback"
            *ngIf="(password.touched || password.dirty) && password.errors?.['minlength']">
            Password should be atleast 7 characters</span>
        </div>

        <button [class.disabled]="loginForm.invalid" type="submit" (click)="userlogin(user.userName)"
        class="btn btn-primary">Login</button>
      </form>
 </div> -->
 <!-- <div class="image">

    <div class="login-box">
      <h2>Login the Job portal</h2>
      <form #loginForm="ngForm" (ngSubmit)="userlogin(user.userName)" novalidate>
        <div class="user-box">
          <input type="text"#userName="ngModel" [(ngModel)]="user.userName" class="form-control" id="userName" name="userName"
          ngModel required minlength="5" maxlength="15"
          [class.is-invalid]="userName.invalid && (userName.dirty || userName.touched)"
          [class.is-valid]="userName.valid && (userName.dirty || userName.touched)">
          <span class="invalid-feedback"
                *ngIf="(userName.touched || userName.dirty) && userName.errors?.['required']">
                Username is mandatory</span>
            <span class="invalid-feedback"
                *ngIf="(userName.touched || userName.dirty) && userName.errors?.['minlength']">
                Username should be atleast 5 characters</span>
          <label class="form-label">Enter Username</label>
        </div>
        <div class="user-box">
          <input type="password"  #password="ngModel" [(ngModel)]="user.password" class="form-control" id="password" name="password"
          ngModel required minlength="7" maxlength="15"
          [class.is-invalid]="password.invalid && (password.dirty || password.touched)"
          [class.is-valid]="password.valid && (password.dirty || password.touched)">
      <span class="invalid-feedback"
          *ngIf="(password.touched || password.dirty) && password.errors?.['required']">
          Password is mandatory</span>
      <span class="invalid-feedback"
          *ngIf="(password.touched || password.dirty) && password.errors?.['minlength']">
          Password should be atleast 7 characters</span>
          <label class="form-label">Password</label>
        </div>
        <a href="#" [class.disabled]="loginForm.invalid" type="submit" (click)="userlogin(user.userName)" (click)="showToaster()" >
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Login
        </a>
        <a href="#" type="submit" routerLink="register">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          Sign Up
        </a>
      </form>
    </div>
      </div>  -->
      <app-navbar3></app-navbar3>
      <div class="image">
        <div class="container col-md-6" class="card" style="border: 3px solid;padding: 2%;border-radius: 30px;">
            <div style="margin-top: 3%;">
            <h3 style="font-family:serif;margin-left: 40%;">User Login</h3>
            <hr>
            <form #loginForm="ngForm" (ngSubmit)="userlogin(user.userName)" novalidate>
                <div class="mb-3">
                    <mat-icon>account_box</mat-icon>
                    <label for="exampleFormControlInput1" class="form-label" style="margin-left: 2%"> Username</label>
                    <input type="text" #userName="ngModel" [(ngModel)]="user.userName" class="form-control" id="userName"
                        name="userName" ngModel required minlength="5" maxlength="15"
                        [class.is-invalid]="userName.invalid && (userName.dirty || userName.touched)"
                        [class.is-valid]="userName.valid && (userName.dirty || userName.touched)">
                    <span class="invalid-feedback"
                        *ngIf="(userName.touched || userName.dirty) && userName.errors?.['required']">
                        Username is mandatory</span>
                    <span class="invalid-feedback"
                        *ngIf="(userName.touched || userName.dirty) && userName.errors?.['minlength']">
                        Username should be atleast 5 characters</span>
                </div>
    
    
                <div class="mb-3">
                    <mat-icon>lock</mat-icon>
                    <label for="exampleFormControlInput1" class="form-label" style="margin-left: 2%">Password</label>
                    <input type="password" #password="ngModel" [(ngModel)]="user.password" class="form-control"
                        id="password" name="password" ngModel required minlength="4" maxlength="15"
                        [class.is-invalid]="password.invalid && (password.dirty || password.touched)"
                        [class.is-valid]="password.valid && (password.dirty || password.touched)">
                    <span class="invalid-feedback"
                        *ngIf="(password.touched || password.dirty) && password.errors?.['required']">
                        Password is mandatory</span>
                    <span class="invalid-feedback"
                        *ngIf="(password.touched || password.dirty) && password.errors?.['minlength']">
                        Password should be atleast 7 characters</span>
                </div>
                <ngx-recaptcha2 #captchaElem [siteKey]="siteKey"></ngx-recaptcha2>
    
                <div class="d-grid gap-2">
                    <button [class.disabled]="loginForm.invalid" type="submit" (click)="userlogin(user.userName)"
                    class="btn btn-primary btn-md">Login
                    </button>
                    <hr>
                </div>
                <button style="margin-left: 35%;" type="submit" (click)="registerPage()"
                class="btn btn-success btn-sm">Create New Account
                </button>
            </form>
        </div>
    </div>
  </div>
