<app-navbar3></app-navbar3>
<h2 style="text-align: center;">jobs available</h2>
<div class="container" *ngFor='let j of job'>
  <div class="card mt-3">
    <div class="card-body bg-secondary text-white">
      <p>JobId-{{j.id}}</p>
      <p>CategoryName-{{j.name}}</p>
      <p>Company Name-{{j.company}}</p>

      <p>Location-{{j.location}}</p>

      <p>Role-{{ j.role}}</p>



      <div class="container d-flex flex-row justify-content-between ">

        <button type="button" class="btn btn-primary"  (click)="addToFavorite()">Apply Job</button>

      </div>
    </div>
</div>