<app-navbar></app-navbar>
<div class="container">
    <h3 style="color: rgb(190, 118, 118);font-family:serif;margin-top: 2%;">Our Team</h3>
    <!-- Left-aligned media object -->
    <hr>
    <div class="media" style="background-color: ivory">
      <div class="media-left">
        <img src="./assets/images/Aditya.jpeg" class="media-object" style="width:140px">
      </div>
      <div class="media-body">
        <h4 class="media-heading " style="margin-left: 2%;">Aditya Waykos <mat-icon
            style="color: blue;">verified</mat-icon></h4>
        <p class="text-muted" style="font-family: serif; margin-left: 1.5%;">
         I have been using Naukrigulf for the last two years. Of the all the job portals that I have used, Naukrigulf comes at the top. 
         They stand out of the crowd by being uniquely client focused, helpful and professional. 
         They have a very dedicated and committed team offering an exceptional customer service. 
         Naukrigulf is the right choice for both employers and job seekers who are looking for a rewarding and value added experience.
         Nasser Bamookreh Organization Expert, <br>
         <b>Graduate Engineer Trainee, NPCI </b>
         <a mdbRipple class="btn btn-floating btn-lg" href="https://www.linkedin.com/in/aditya-waykos-04baa0195/"
         role="button"><mat-icon>facebook-box</mat-icon></a><a mdbRipple class="btn btn-floating btn-lg" href="https://www.linkedin.com/in/aditya-waykos-04baa0195/"
         role="button"><mat-icon>work</mat-icon></a> <a mdbRipple class="btn btn-floating btn-lg" href="https://www.linkedin.com/in/aditya-waykos-04baa0195/"
         role="button"><mat-icon>code</mat-icon></a>
       </p>
      </div>
    </div>
    <hr>
  
    <!-- Left-aligned media object -->
    <hr>
    <div class="media" style="background-color: rgb(249, 228, 228)">
      <div class="media-left">
        <img src="./assets/images/Sandeep.jpeg" class="media-object" style="width:140px">
      </div>
      <div class="media-body">
        <h4 class="media-heading " style="margin-left: 2%;">Sandeep Mallapelly <mat-icon
            style="color: blue;">verified</mat-icon></h4>
        <p class="text-muted" style="font-family: serif; margin-left: 1.5%;">
         I have been using Naukrigulf for the last two years. Of the all the job portals that I have used, Naukrigulf comes at the top. 
         They stand out of the crowd by being uniquely client focused, helpful and professional. 
         They have a very dedicated and committed team offering an exceptional customer service. 
         Naukrigulf is the right choice for both employers and job seekers who are looking for a rewarding and value added experience.
         Nasser Bamookreh Organization Expert, <br>
         <b>Graduate Engineer Trainee, NPCI </b>
         <a mdbRipple class="btn btn-floating btn-lg" href="https://www.linkedin.com/in/aditya-waykos-04baa0195/"
         role="button"><mat-icon>facebook-box</mat-icon></a><a mdbRipple class="btn btn-floating btn-lg" href="https://www.linkedin.com/in/aditya-waykos-04baa0195/"
         role="button"><mat-icon>work</mat-icon></a> <a mdbRipple class="btn btn-floating btn-lg" href="https://www.linkedin.com/in/aditya-waykos-04baa0195/"
         role="button"><mat-icon>code</mat-icon></a>
       </p>
      </div>
    </div>
    <hr>
  
    <hr>
    <div class="media" style="background-color: honeydew;">
      <div class="media-left">
        <img src="./assets/images/pranav.jpg" class="media-object" style="width:140px">
      </div>
      <div class="media-body">
        <h4 class="media-heading " style="margin-left: 2%;">Pranav Gawali<mat-icon
            style="color: blue;">verified</mat-icon></h4>
        <p class="text-muted" style="font-family: serif; margin-left: 1.5%;">
         I have been using Naukrigulf for the last two years. Of the all the job portals that I have used, Naukrigulf comes at the top. 
         They stand out of the crowd by being uniquely client focused, helpful and professional. 
         They have a very dedicated and committed team offering an exceptional customer service. 
         Naukrigulf is the right choice for both employers and job seekers who are looking for a rewarding and value added experience.
         Nasser Bamookreh Organization Expert, <br>
         <b>Graduate Engineer Trainee, NPCI </b>
         <a mdbRipple class="btn btn-floating btn-lg" href="https://www.linkedin.com/in/aditya-waykos-04baa0195/"
         role="button"><mat-icon>facebook-box</mat-icon></a><a mdbRipple class="btn btn-floating btn-lg" href="https://www.linkedin.com/in/aditya-waykos-04baa0195/"
         role="button"><mat-icon>work</mat-icon></a> <a mdbRipple class="btn btn-floating btn-lg" href="https://www.linkedin.com/in/aditya-waykos-04baa0195/"
         role="button"><mat-icon>code</mat-icon></a>
       </p>
      </div>
    </div>
    <hr>
  
    <hr>
    <div class="media" style="background-color: ghostwhite;">
      <div class="media-left">
        <img src="./assets/images/Dileep.jpeg" class="media-object" style="width:140px">
      </div>
      <div class="media-body">
        <h4 class="media-heading " style="margin-left: 2%;">Dileep Alte <mat-icon
            style="color: blue;">verified</mat-icon></h4>
        <p class="text-muted" style="font-family: serif; margin-left: 1.5%;">
         I have been using Naukrigulf for the last two years. Of the all the job portals that I have used, Naukrigulf comes at the top. 
         They stand out of the crowd by being uniquely client focused, helpful and professional. 
         They have a very dedicated and committed team offering an exceptional customer service. 
         Naukrigulf is the right choice for both employers and job seekers who are looking for a rewarding and value added experience.
         Nasser Bamookreh Organization Expert, <br>
         <b>Graduate Engineer Trainee, NPCI </b>
         <a mdbRipple class="btn btn-floating btn-lg" href="https://www.linkedin.com/in/aditya-waykos-04baa0195/"
         role="button"><mat-icon>facebook-box</mat-icon></a><a mdbRipple class="btn btn-floating btn-lg" href="https://www.linkedin.com/in/aditya-waykos-04baa0195/"
         role="button"><mat-icon>work</mat-icon></a> <a mdbRipple class="btn btn-floating btn-lg" href="https://www.linkedin.com/in/aditya-waykos-04baa0195/"
         role="button"><mat-icon>code</mat-icon></a>
       </p>
      </div>
    </div>
    <hr>
  
    <!-- Left-aligned media object -->
    <hr>
    <div class="media" style="background-color: rgb(224, 239, 238)">
      <div class="media-left">
        <img src="./assets/images/kartik.jpg" class="media-object" style="width:140px">
      </div>
      <div class="media-body">
        <h4 class="media-heading " style="margin-left: 2%;">Kartik Gupta <mat-icon
            style="color: blue;">verified</mat-icon></h4>
        <p class="text-muted" style="font-family: serif; margin-left: 1.5%;">
         I have been using Naukrigulf for the last two years. Of the all the job portals that I have used, Naukrigulf comes at the top. 
         They stand out of the crowd by being uniquely client focused, helpful and professional. 
         They have a very dedicated and committed team offering an exceptional customer service. 
         Naukrigulf is the right choice for both employers and job seekers who are looking for a rewarding and value added experience.
         Nasser Bamookreh Organization Expert, <br>
         <b>Graduate Engineer Trainee, NPCI </b>
         <a mdbRipple class="btn btn-floating btn-lg" href="https://www.linkedin.com/in/aditya-waykos-04baa0195/"
         role="button"><mat-icon>facebook-box</mat-icon></a><a mdbRipple class="btn btn-floating btn-lg" href="https://www.linkedin.com/in/aditya-waykos-04baa0195/"
         role="button"><mat-icon>work</mat-icon></a> <a mdbRipple class="btn btn-floating btn-lg" href="https://www.linkedin.com/in/aditya-waykos-04baa0195/"
         role="button"><mat-icon>code</mat-icon></a>
       </p>
      </div>
    </div>
    <hr>
  </div>