/* .card{
   
    border:none;
    width:50vw;
    padding:40px;
    position:absolute;
    top:60%;
    left:50%;
    transform:translate(-50%,-50%);
    background:wheat(205,46%,30%,1);
    background:linear-gradient(90deg	rgb(255,255,255), rgb(212, 202, 212)100%);
}
.card  h1,h6{
    color: rgb(7, 7, 7);
}
label{
    color: rgb(17, 16, 16);
}

.images{
    height:50em; background-size:cover; width:auto;
    background-image:url('/assets/images/bg.jpg');
    background-position:50% 50%; 
} */
/* .card{
   
    background:wheat(205,46%,30%,1);
    background:linear-gradient(90deg,rgb(194, 189, 177)100%, rgb(194, 189, 177)100%);
} */
/* .card{
   
    background:wheat(205,46%,30%,1);
    background:linear-gradient(90deg,rgb(86, 84, 81)100%, rgb(194, 189, 177)100%);
    color: white;
}


.image{
    height:50em; background-size:cover; width:auto;
    background-image:url('/assets/images/fade.jpg');
  } */
  .card{
   
    background:wheat(205,46%,30%,1);
    background:linear-gradient(90deg,rgb(86, 84, 81)100%, rgb(194, 189, 177)100%);
    color: white;
}


.image{
    height:50em; background-size:cover; width:auto;
    background-image:url('/assets/images/fade.jpg');
  }