<div class="image">
    <div class="conta
iner">
        <div class="row" style="align-items: center;margin-left: 300px;">
            <div class="col-md-8" style="margin-top: 6%;">
                <div class="card" style="border: 3px solid ;padding: 4%;border-radius: 30px;">
                    <div class="text-center">
                        <h3 style="font-family:serif;">Sign Up</h3>
                        <h6 style="font-family:serif;">It's quick and easy.</h6>
                    </div>

                    <!-- <hr>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Male
                        </label>

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Female
                            </label>
                        </div>
                        <hr> -->

                    <form>
                        <form #SignupForm="ngForm">
                            <small class="text-success">{{disp_msg}}</small>
                            <div class="mb-3">
                                <mat-icon>account_circle</mat-icon>
                                <label for="exampleInputFullName" class="form-label" style="margin-left: 2%" >Username</label>
                                <input type="text" class="form-control" id="exampleInputFullName" name="fullname"
                                    required minlength="3" [(ngModel)]="user.userName" #username="ngModel"
                                    [class.is-invalid]="username.invalid && (username.dirty || username.touched)"
                                    [class.is-valid]="username.valid && (username.dirty || username.touched)">
                                <span class="invalid-feedback"
                                    *ngIf="(username.touched || username.dirty) && username.errors?.['required']">
                                    Username is mandatory</span>
                                <span class="invalid-feedback"
                                    *ngIf="(username.touched || username.dirty) && username.errors?.['minlength']">
                                    Username should be atleast 3 characters</span>
                            </div>



                            <div class="mb-3">
                                <mat-icon>email</mat-icon>
                                <label for="exampleInputEmail1" class="form-label" style="margin-left: 2%">Email
                                    Address</label>
                                <input required type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" name="email" [(ngModel)]="user.email" email="true"
                                    #mailid="ngModel"
                                    [class.is-invalid]="mailid.invalid && (mailid.dirty || mailid.touched)"
                                    [class.is-valid]="mailid.valid && (mailid.dirty || mailid.touched)">
                                <span class="invalid-feedback"
                                    *ngIf="(mailid.touched || mailid.dirty) && mailid.errors?.['required']">
                                    Email is mandatory</span>
                                <span class="invalid-feedback"
                                    *ngIf="(mailid.touched || mailid.dirty) && mailid.errors?.['email']">Email is
                                    not
                                    valid
                                </span>
                            </div>




                            <div class="mb-3">
                                <mat-icon>lock</mat-icon>
                                <label for="exampleInputPassword1" class="form-label"
                                    style="margin-left: 2%">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" name="pass"
                                    minlength="4" maxlength="10" required [(ngModel)]="user.password" #pwd="ngModel"
                                    [class.is-invalid]="pwd.invalid && (pwd.dirty || pwd.touched)"
                                    [class.is-valid]="pwd.valid && (pwd.dirty || pwd.touched)">
                                <span class="invalid-feedback"
                                    *ngIf="(pwd.touched || pwd.dirty) && pwd.errors?.['required']">
                                    Password is mandatory</span>
                                <span class="invalid-feedback"
                                    *ngIf="(pwd.touched || pwd.dirty) && pwd.errors?.['minlength']">
                                    Password should be atleast 4 characters</span>
                            </div>





                            <div class="mb-3">
                                <mat-icon>school</mat-icon>
                                <label for="exampleInputQualification" class="form-label"
                                    style="margin-left: 2%">Qualification</label>
                                <input type="text" class="form-control" id="exampleInputQualification"
                                    name="qualification" required [(ngModel)]="user.qualification" #qual="ngModel"
                                    [class.is-invalid]="qual.invalid && (qual.dirty || qual.touched)"
                                    [class.is-valid]="qual.valid && (qual.dirty || qual.touched)">
                                <span class="invalid-feedback"
                                    *ngIf="(qual.touched || qual.dirty) && qual.errors?.['required']">
                                    Qualification is mandatory</span>
                            </div>




                            <div class="d-grid gap-2">
                                <button [class.disabled]="SignupForm.invalid" type="submit" (click)="register()"
                                    class="btn btn-primary btn-lg">Submit
                                </button>
                            </div>
                            <hr>
                        </form>
                        <a>Existing User ? <a style="color: blue;"  [routerLink]="['/login']">Click to login!!</a></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>