<!-- <div class="container" style="margin-top: 3%; width: 40%;">
  <form #applicationForm="ngForm" novalidate>

    <table class="table table-striped table-light" style="border: 2px solid;">
      <tr>
        <th class="table-dark">🌐 Enter UserName</th>
        <td>
          <input type="text" name="userName" placeholder="UserName" #userName="ngModel" ngModel required minlength="3"
            maxlength="20" pattern="[a-zA-Z ]*">
        </td>
      </tr>
      <tr>
        <th class="table-dark">📩 Email</th>
        <td><input type="text" placeholder="@gmail.com" name="email" #email="ngModel" ngModel required>
        </td>
      </tr>
      <tr>
        <th class="table-dark">◽SSC Percentage</th>
        <td><input type="text" name="ssc" placeholder="xx.xx%" #ssc="ngModel" ngModel required maxlength="10">
        </td>
      </tr>
      <tr>
        <th class="table-dark">◽HSC Percentage</th>
        <td> <input type="text" name="inter" placeholder="xx.xx%" #inter="ngModel" ngModel required></td>
      </tr>
      <tr>
        <th class="table-dark">👨🏻‍🎓 Degree Percentage</th>
        <td><input type="text" name="degree" placeholder="xx.xx%" #degree="ngModel" ngModel required></td>
      </tr>
    </table>
  </form>
</div>

<div style="margin-left: 45%;">
  <button class="btn btn-outline-primary text-dark" [disabled]="!applicationForm.value"
    (click)="Register(applicationForm.value)" (click)="showToder4()">Submit✔️</button>
</div>
<br><br>

<!-- <form #applicationForm="ngForm" novalidate>
  Enter UserName:<input type="text" name="userName" #userName="ngModel" ngModel required minlength="3" maxlength="20"
    pattern="[a-zA-Z ]*">
  <div *ngIf="!userName.value" style="color:red;">Your field is empty</div>
  <br>
  Enter Email:<input type="text" name="email" #email="ngModel" ngModel required>
  <div *ngIf="!email.value" style="color:red;">Your field is empty</div>
  <br>
  Enter 10th Percentage:<input type="text" name="ssc" #ssc="ngModel" ngModel required maxlength="10">
  <div *ngIf="!ssc.value" style="color:red;">Your field is empty</div>
  <br>
  Enter XII percentage<input type="text" name="inter" #inter="ngModel" ngModel required>
  <div *ngIf="!inter.value" style="color:red;">Your field is empty</div>
  <br>
  Enter Degree percentage<input type="text" name="degree" #degree="ngModel" ngModel required>
  <div *ngIf="!degree.value" style="color:red;">Your field is empty</div>
  <br>
  <button [disabled]="!applicationForm.value" (click)="Register(applicationForm.value)">Update</button>
</form>  --> 
<app-navbar></app-navbar>
<h3 style="color: rgb(190, 118, 118);font-family:serif;margin-top: 0.5%;" class="container">Application Form </h3>
<div style="background-color: rgb(198, 215, 215)">
<div class="container" style="width: 40%;">
  <form #applicationForm="ngForm" novalidate>

    <table class="table table-striped table-light" style="border: 2px solid;padding-top: 2%;">
      <tr>
        <th class="table-dark">🌐 Enter UserName</th>
        <td>
          <input type="text" name="userName" placeholder="UserName" #userName="ngModel" ngModel required minlength="3"
            maxlength="20" pattern="[a-zA-Z ]*">
        </td>
      </tr>
      <tr>
        <th class="table-dark">📩 Email</th>
        <td><input type="text" placeholder="@gmail.com" name="email" #email="ngModel" ngModel required>
        </td>
      </tr>
      <tr>
        <th class="table-dark">◽SSC Percentage</th>
        <td><input type="text" name="ssc" placeholder="xx.xx%" #ssc="ngModel" ngModel required maxlength="10">
        </td>
      </tr>
      <tr>
        <th class="table-dark">◽HSC Percentage</th>
        <td> <input type="text" name="inter" placeholder="xx.xx%" #inter="ngModel" ngModel required></td>
      </tr>
      <tr>
        <th class="table-dark">👨🏻‍🎓 Degree Percentage</th>
        <td><input type="text" name="degree" placeholder="xx.xx%" #degree="ngModel" ngModel required></td>
      </tr>
    </table>
  </form>
</div>

<div style="margin-left: 45%;">
  <button class="btn btn-outline-primary btm-lg text-dark" [disabled]="!applicationForm.value"
    (click)="Register(applicationForm.value)" (click)="showToder4()">Submit✔️</button>
</div>
</div>
<br><br>