<app-navbar2></app-navbar2>

<h3 style="color: rgb(190, 118, 118);font-family:serif;margin-top: 0.5%;" class="container">Admin-(Elegibility Section)</h3>
<div style="background-color: rgb(198, 215, 215)">
  <div class="container">
    <table class="table table-hover table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Company</th>
          <th scope="col">Degree</th>
          <th scope="col">Email</th>
          <th scope="col">HSC</th>
          <th scope="col">Role</th>
          <th scope="col">SSC</th>
          <th scope="col">UserName</th>
          <th scope="col" style="width: 20%;">Action</th>
        </tr>
      </thead>
      <tbody class="table-light">
        <tr *ngFor="let j of job">
          <td>{{ j.id }}</td>
          <td>{{ j.company }}</td>
          <td>{{ j.degree }}</td>
          <td>{{ j.email }}</td>
          <td>{{ j.inter }}</td>
          <td>{{ j.role }}</td>
          <td>{{ j.ssc }}</td>
          <td>{{ j.userName }}</td>
          <td>
            <button class="btn btn-outline-success btn-sm" (click)="sendEmail(j.id)" (click)="showToaster6()">Selected✅</button>
            <button class="btn btn-outline-danger btn-sm" (click)="sendEmail1(j.id)" (click)="showToaster7()">Rejected❌</button>
          </td>
      </tbody>
    </table>
  </div>
</div>
<br>