<app-navbar2></app-navbar2>

<h3 class="container" style="color: rgb(190, 118, 118);font-family:serif;margin-top: 1%;">Admin Operations</h3>
<div style="background-color: rgb(198, 215, 215)">
  <div class="container">
    <button type="button" class="btn btn-outline-primary btn-rounded" (click)="showAdd = !showAdd">Add ✚</button>
    <table class="table table-hover table-bordered table-striped">
      <thead class="table-dark">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Category</th>
          <th scope="col">Company</th>
          <th scope="col">Location</th>
          <th scope="col">Role</th>
          <th scope="col" style="width: 20%;">Action</th>
        </tr>
      </thead>
      <tbody class="table-light">
        <tr *ngFor="let j of job">
          <td>{{ j.id }}</td>
          <td>{{ j.name }}</td>
          <td>{{ j.company }}</td>
          <td>{{ j.location }}</td>
          <td>{{ j.role }}</td>
          <td class="btn-group">
            <button class="btn btn-outline-warning glyphicon glyphicon-plus"
              (click)="update(j.id,j.name,j.location,j.company,j.role,j)">Update ✍</button>
            <button class="btn btn-outline-danger" (click)="delete(j.id)" (click)="showToatr2()">Delete ❌</button>
          </td>
      </tbody>
    </table>



    <table class="table table-striped table-bordered">
      <div *ngIf="showAdd" class="row">
        <div class="col-lg-6">
          <form #loginForm="ngForm" (ngSubmit)="onAdd(loginForm.value)">
            <thead class="table-dark">
              <tr>
                <th>Id</th>
                <th>Category</th>
                <th>Company-Name</th>
                <th>Location</th>
                <th>Role</th>
                <th>Submit</th>
              </tr>
            </thead>
            <tbody class="table-light">
              <tr>
                <th><input type="text" name="id" id="id" #id="ngModel" ngModel /></th>
                <th><input type="text" name="name" id="name" #name="ngModel" ngModel /></th>
                <th><input type="text" name="company" id="company" #company="ngModel" ngModel /></th>
                <th><input type="text" name="location" id="location" #price="ngModel" ngModel /></th>
                <th><input type="text" name="role" id="role" #role="ngModel" ngModel /></th>
                <th> <button class="btn btn-outline-primary btn-rounded" type="submit" (click)="showToatr1()"
                    ngModel>Submit</button></th>
              </tr>
            </tbody>
          </form>
        </div>
      </div>
    </table>
  </div>
  <br><br>
</div>