<div class="container">
   <form #updateForm="ngForm" novalidate>
      <table class="table table-bordered">
         <thead class="table-dark">
            <tr>
               <th>Id</th>
               <th>Category</th>
               <th>Company-Name</th>
               <th>Location</th>
               <th>Role</th>
               <th>Submit</th>
            </tr>
         </thead>
         <tbody class="table-light">
            <tr>
               <th><input type="text" value={{id}} readonly></th>
               <th><input type="text" name="name" [(ngModel)]="name" value={{name}}></th>
               <th><input type="text" name="company" [(ngModel)]="company" value={{company}}></th>
               <th><input type="text" name="location" [(ngModel)]="location" value={{location}}></th>
               <th><input type="text" name="role" [(ngModel)]="role" value={{role}}></th>
               <th> <button [disabled]="!updateForm.value" (click)="update(updateForm.value)"
                     (click)="showToatr3()" class="btn btn-outline-warning btn-rounded">Update</button></th>
            </tr>
         </tbody>
      </table>
   </form>
</div>