<app-navbar></app-navbar>
<h2 style="text-align: center;">Applied jobs</h2>
<div class="container" *ngFor='let j of job'>
  <div class="card mt-3">
    <div class="card-body bg-secondary text-white">
      <p>JobId-{{j.jobid}}</p>
      <p>CategoryName-{{j.name}}</p>
      <p>Company Name-{{j.company}}</p>

      <p>Location-{{j.location}}</p>

      <p>Role-{{ j.role}}</p>



      <div class="container d-flex flex-row justify-content-between ">

        <!-- <button type="button" class="btn btn-primary" routerLink="home" (click)="cancelJob()">Cancel Application</button> -->

      </div>
    </div>